.paragraph-dashboard {
  color: black;
  padding-bottom: 20px;
}

.location {
  text-align: left;
}

li {
  list-style-type: none;
  padding-bottom: 5px;
  padding-top: 5px;
}

.dashboard-description {
  color: #1F2041;
  padding-bottom: 20px;
  padding-top: 10px;
}

.uppercase {
  text-transform: uppercase;
  padding-bottom: 30px;
  padding-top: 10px;
}


