.container-bookings {
  padding-top: 50px;
  padding-bottom: 550px;
  text-align: center;
}
.row-book {
  padding-bottom: 100px;
  margin-top: 25px;
}

.box-book {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background-color: rgba(248, 255, 255, 0.3);
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 20px;
  height: 300px;
  width: 500px;
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
}

.text {
  text-align: center;
  color: black;
}

.lines {
  color: black;
  text-align: center;
}

