// Import your layouts CSS files here.

h1 {
  color: white;
  margin: 0 !important;
}

p {
  color: white;
}

.banner {
  height: 100vh;

}

.home-titles {
  padding-top: 100px;
  background-position: center;
}
