<div class="footer; col-xs-12 col-sm-4 col-sm-offset-4">
    <div class="footer-copyright">
    All meals made with <i class="fa fa-heart"></i> by all the Juans who love you <i class="fa fa-heart"></i>
  </div>
  <center>
  <div class="footer-links">
    <ul class="list-inline">
      <li><strong>FOLLOW US:</strong></li>
      <li><a href="http://github.com/"><i class="fa fa-github"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </li>
  </div>
  </center>
</div>
