
<div class="container-fluid"><div class="navbar-header"></div><div class="__desktopNavItems"><ul class="nav navbar-nav navbar-right"><li class="vz-nav-item" role="presentation"><a href="/landings/gifts">About Us</a></li><li class="vz-nav-item vz-nav-become-host" role="presentation"><a href="/landings/become-a-host">Become a host</a></li><li role="presentation" class="vz-nav-item"><a href="javascript:void(0)">Log in</a></li><li role="presentation" class="vz-nav-item vz-nav-item--register"><a href="javascript:void(0)">Sign up</a></li></ul></div><!-- react-empty: 12988 --><!-- react-empty: 12989 --></div>
  <h1>Juan on Juan cooking with Juan!</h1>
  <p>Search your Kitchen here:</p>
    <input class="__input __searchInput" name="q" value="" placeholder="Your Location" autocomplete="off" data-reactid="">
    <input class="__input __dateInput" readonly="" value="" placeholder="Food Type" data-reactid="">
    <button class="__submitButton sc-ifAKCX gyLlNO" type="submit" id="home-submitBtn" disabled="" data-reactid=""><!-- react-text: 181 -->Search<!-- /react-text --></button>
