<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43d2818abd122c626a47a12ae53ca481&auto=format&fit=crop&w=1950&q=80')"  >
     <div class="home-titles col-xs-12 col-sm-4 col-sm-offset-4"><h1>Juan's Kitchens</h1>
      <p>Cook your favorite meals with an expert</p>
    </div>

    <div>
      <%= render "shared/search" %>
    </div>

</div>
