<!DOCTYPE html>
<html>
<head>
  <title>Juana Cook with Juan?</title>
</head>
<body>
  <h1>Juan's Available Kitchens</h1>
  <div class="container">
    <div class="row">
    <div class="row">
      <% @kitchens.each do |kitchen| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?food');">
            <div class="card-description">
              <h2><%= kitchen.name %></h2>
              <p><%= kitchen.category %></p>
              <p><%= kitchen.location %></p>
            </div>
          </div>
      <% end %>
        </div>
    </div>
    </div>
</body>
</html>
