<div class="banner" style="background-image: linear-gradient(-225deg, rgba(2, 76, 122,0.9) 0%, rgba(2, 76, 122,0.9) 50%), url('<%= asset_url("home.jpeg") %>')">
  <div class="text-center"><h1>Find a Kitchen</h1></div>
</div>
