<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
  <title>Juana Cook with Juan?</title>
</head>
<body>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(2, 76, 122,0.9) 0%, rgba(2, 76, 122,0.9) 50%), url('<%= asset_url("home.jpeg") %>')">
   <div class="text-center"><h1>Find a Kitchen</h1>
   </div>
=======
>>>>>>> 0cfac26ce8f37c991bce0ae59901fea354d1126d
  <div class="container">
      <h2 class="text-center">Find a kitchen</h2>
      <div class="cards">
        <!-- Code your cards  here -->
          <% @kitchens.each do |kitchen| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?food');">
              <div class="card-description">
                <h2><%= kitchen.name %></h2>
                <p><%= kitchen.category %></p>
                <p><%= kitchen.location %></p>
              </div>

          <% end %>
              <img src="images/selena.jpg" class="avatar-large">
              <a class="card-link" href="#" ></a>
          <div class ="card-footer">
            <p>Posted on 22/11/19</p>
            <div class ="actions">
              <a href="#"><i class="fa fa-star"></i></a>
              <a href="#"><i class="fa fa-heart"></i></a>
              <a href="#"><i class="fa fa-share"></i></a>
            </div>
          </div>
          </div>
         </div>
        </div>
<<<<<<< HEAD
    </div>
    </div>
  </div>
</body>
</html>
=======
      </div>




>>>>>>> 0cfac26ce8f37c991bce0ae59901fea354d1126d
