.footer{
 height: 50px !important;
 position: absolute;
 bottom: 0;
 width: 100%;
 right: 0;
 left: 0;
 padding: 1rem;

}

.footer-links {
  color: white;
}

.flex-container {
  display: flex;
  align-content: flex-end;
}

a {
  color: white;
}
p {
  color: white;

}

body {
  color: white;
  font-size: 17px !important;
}
